<story>
	<page class="">
		<p>
			a wizard greets you with a maniacal laugh.
		</p>
		<button choice question>
			i shall question this wizard.
		</button>
	</page>
	<page question>
		<p>
			silence wizard!	
		</p>
		<p>
			your somehow treacherous ramblings only increase my paranoia.
		</p>
		<button choice zombie-king>
			what of the zombie king, wizard?
		</button>
	</page>
	<page zombie-king="">
		<p>
			muahahaha. zombie king you say? he has been expecting you.
		</p>
		<p>
			do you mean to say you are in league with the seven times damned king of the zombies?
		</p>
		<p>
			oh ho ho hoh hahaha... (the wizard disappears into a cloud of sinister looking smoke)
		</p>
		<p>
			<i>
				I hate wizards.
			</i>
		</p>
	</page>
</story>
<button ui-sref=town>
	back to town.
</button>