<p>
	you are in town.
</p>
<story>
	<page class="">
		<p>
			a wizard is standing in the middle of town.
		</p>
		<button choice question>
			i shall question this wizard.
		</button>
	</page>
	<page question>
		<p>
			silence wizard!	
		</p>
		<p>
			your somehow treacherous ramblings only increase my paranoia.
		</p>
		<button choice zombie-king>
			what of the zombie king, wizard?
		</button>
	</page>
</story>
<button>
	store
</button>
<button>
	tavern
</button>
<button>
	cave of many treasures (?)
</button>